.btn{
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    background-color: var(--white-color);
    transition: var(--tran-05);
    border-radius: 10px;
}

.btn:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}