.quiz-card{
    width: 280px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(103, 103, 103, 0.7);
    margin: 10px;
}


.quiz-card:hover > img{
    transform: scale(1.2);
}

.quiz-card:hover{
    color: #2d2d2d;
    transition: 1s ease;
}

.crypto:hover{
    background-image: radial-gradient(circle, #8EECF5, #90DBF4, #A3C4F3);  
}

.maths:hover{
    background-image: radial-gradient(circle, #FBF8CC, #FDE4CF, #FFCFD2);  
}

.business:hover{
    background-image: radial-gradient(circle, #FFCFD2, #F1C0E8, #CFBAF0);  
}

.science:hover{
    background-image: radial-gradient(circle, #98F5E1, #98F5E1, #90DBF4);  
}

.technology:hover{
    background-image: radial-gradient(circle, #90DBF4, #A3C4F3, #CFBAF0);  
}

.blockchain:hover{
    background-image: radial-gradient(circle, #FBF8CC, #B9FBC0, #98F5E1);  
}

.social:hover{
    background-image: radial-gradient(circle, #FDE4CF, #FFCFD2, #F1C0E8 );  
}

.quiz-card :is(h2, p, .btn){
    margin-top: 10px;
}

.quiz-card h3{
    color: gray;
    font-weight: 200;
    font-size: 1rem;
}
.quiz-card img{
    width: 100px;
    border-radius: 100%;
}

.quiz-card :nth-child(4){
    font-weight: 500;
}
